# Project Overview

Introduction:

The provided task involves web scraping, data storage in CSV files, creation of tables in SQLite database, executing SQL queries on the table, and performing similar queries using Pandas SQL on the loaded CSV data.
    
The first CSV file includes the data like - Sno, Movie Name, Director Name(bifurcated into subfields as per number of directors in the movie), Duration, Year, Ratings, and Metascore.
The second CSV file includes the data like - Movie Name, Stars(bifurcated into 4 subfields as per number of stars in the movie), Votes, Genere(bifurcated into 3 subfields as per the number of genere movie belongs), Gross Collection, Popularity, and Certification.
The above task of project will be the phase1. 

Now for phase2: Here, two tables will be created in SQLite database using the columns provided in the CSV files. The data from each CSV file is gonna inserted into the corresponding tables. The subsequent SQL queries are executed on the tables in the SQLite database.
The queries involve retrieving specific details from the tables based on various conditions and sorting orders.

The CSV data is then loaded into Pandas DataFrames. The DataFrames are then used to execute Pandas SQL queries, which involve SQL-like operations on the DataFrames. The queries may include joins, filtering, sorting, and other operations as required. The results of the queries are obtained as Dataframes, which can be used for further analysis and visualization.

# 1

In [1]:
# Importing necessary libraries

import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# Create a list
df1 = []
df2 = []


# Iterate over all pages
for page_num in range(1,51):

        # Get the content of IMDB page

        url = "https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1"
        page = requests.get(url)
        soup = BeautifulSoup(page.content, 'html.parser')

        # Extract all movies details and store in a list
        movies = soup.find_all("div", class_ = "lister-item-content")


        # Counter variable
        counter = (page_num - 1)*50 +1

        # Iterate over each movie and extract the required fields
        for movie in movies:
            
                # Extract fields for the first CSV file
                sno = counter
                movie_name = movie.find("h3").find("a").text.strip()
                directors = movie.find_all("p")[2].find_all("a")
                director_names = [director.text.strip() for director in directors]
                duration = movie.find("span", class_ = "runtime").text.strip("min")
                year = movie.find("span", class_ = "lister-item-year").text.strip("()")
                rating = movie.find("div", class_ = "ratings-bar").find("strong").text.strip()
                metascore = movie.find("div", class_ = "ratings-metascore")
                metascore = metascore.find("span").text.strip() if metascore else ""
    
                # Increment the counter
                counter += 1
    
                # Append the extracted data to the first CSV file
                df1.append([sno, movie_name, ",".join(director_names), duration, year, rating, metascore])
    
    
                # Extract details for second CSV file
                movie_name = movie.find("h3").find("a").text.strip()
                stars = movie.find("p", class_ = "").find_all("a")
                star_names = [star.text.strip() for star in stars]
                votes = movie.find("p", class_ = "sort-num_votes-visible").find_all("span")[1].text.strip().replace(",","")
                genre = movie.find("span", class_ = "genre").text.strip().replace("\n","")
                gross_element = movie.find("span", text="Gross:")
                gross = gross_element.find_next_sibling("span").text.strip() if gross_element else ""
                popularity = movie.find("span", class_ = "lister-item-index unbold text-primary").text.strip()
                certification = movie.find("span", class_ = "certificate").text.strip() if movie.find("span", class_ = "certificate") else ""
    
                # Append the extracted data to the second CSV file
                df2.append([movie_name, ",".join(star_names), votes, genre, gross, popularity, certification])
    
# Create DataFrames for both CSV file
df1 = pd.DataFrame(df1, columns = ['Sno', 'Movie Name', 'Director', 'Duration', 'Year', 'Rating', 'Metascore'])
df2 = pd.DataFrame(df2, columns = ['Movie Name', 'Stars', 'Votes', 'Genre', 'Gross collection', 'Popularity', 'Certification'])

# Save to CSV files

df1.to_csv("movie_directors.csv", index = False)
df2.to_csv("movies_genres.csv", index = False)

In [3]:
print(df1)
print(df2)

       Sno                                         Movie Name  \
0        1                                    The Dark Knight
1        2      The Lord of the Rings: The Return of the King
2        3                Spider-Man: Across the Spider-Verse
3        4                                          Inception
4        5  The Lord of the Rings: The Fellowship of the Ring
...    ...                                                ...
2495  2496                                                Ran
2496  2497                        Baahubali 2: The Conclusion
2497  2498                                 Gangs of Wasseypur
2498  2499                                            Yôjinbô
2499  2500                                   K.G.F: Chapter 1

                                               Director Duration  Year Rating  \
0     Christopher Nolan,Christian Bale,Heath Ledger,...     152   2008    9.0
1     Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...     201   2003    9.0
2     Joaquim Dos Santos,Kemp Powers,Justin K. Thomp...     140   2023    8.9
3     Christopher Nolan,Leonardo DiCaprio,Joseph Gor...     148   2010    8.8
4     Peter Jackson,Elijah Wood,Ian McKellen,Orlando...     178   2001    8.8
...                                                 ...      ...   ...    ...
2495  Akira Kurosawa,Tatsuya Nakadai,Akira Terao,Jin...     162   1985    8.2
2496  S.S. Rajamouli,Prabhas,Rana Daggubati,Anushka ...     167   2017    8.2
2497  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...     321   2012    8.2
2498  Akira Kurosawa,Toshirô Mifune,Eijirô Tôno,Tats...     110   1961    8.2
2499  Prashanth Neel,Yash,Srinidhi Shetty,Ramachandr...     156   2018    8.2

     Metascore
0           84
1           94
2           86
3           74
4           92
...        ...
2495        97
2496
2497        89
2498        93
2499

[2500 rows x 7 columns]
                                             Movie Name  \
0                                       The Dark Knight
1         The Lord of the Rings: The Return of the King
2                   Spider-Man: Across the Spider-Verse
3                                             Inception
4     The Lord of the Rings: The Fellowship of the Ring
...                                                 ...
2495                                                Ran
2496                        Baahubali 2: The Conclusion
2497                                 Gangs of Wasseypur
2498                                            Yôjinbô
2499                                   K.G.F: Chapter 1

                                                  Stars    Votes  \
0     Christopher Nolan,Christian Bale,Heath Ledger,...  2739587
1     Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...  1898276
2     Joaquim Dos Santos,Kemp Powers,Justin K. Thomp...   183132
3     Christopher Nolan,Leonardo DiCaprio,Joseph Gor...  2431092
4     Peter Jackson,Elijah Wood,Ian McKellen,Orlando...  1926707
...                                                 ...      ...
2495  Akira Kurosawa,Tatsuya Nakadai,Akira Terao,Jin...   130239
2496  S.S. Rajamouli,Prabhas,Rana Daggubati,Anushka ...   108031
2497  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...    99867
2498  Akira Kurosawa,Toshirô Mifune,Eijirô Tôno,Tats...   126668
2499  Prashanth Neel,Yash,Srinidhi Shetty,Ramachandr...    92503

                             Genre Gross collection Popularity Certification
0             Action, Crime, Drama         $534.86M         1.            UA
1         Action, Adventure, Drama         $377.85M         2.             U
2     Animation, Action, Adventure                          3.             U
3        Action, Adventure, Sci-Fi         $292.58M         4.            UA
4         Action, Adventure, Drama         $315.54M         5.             U
...                            ...              ...        ...           ...
2495            Action, Drama, War           $4.14M        46.     Not Rated
2496                 Action, Drama          $20.19M        47.            UA
2497         Action, Comedy, Crime                         48.             A
2498       Action, Drama, Thriller                         49.             U
2499          Action, Crime, Drama                         50.            UA

[2500 rows x 7 columns]

# 2

Now we will create two tables in SQLite and insert the data from the CSV files into the tables

In [4]:
import sqlite3

# Create a connection to the SQLite database
conn = sqlite3.connect("movies.db")

# Create Table 1
conn.execute(""" 
CREATE TABLE IF NOT EXISTS Table1(
     Sno INTEGER PRIMARY KEY AUTOINCREMENT,
     MovieName TEXT,
     DirectorName TEXT,
     Duration TEXT,
     Genre TEXT,
     Rating REAL)""")

# Insert data into Table 1
df1 = pd.read_csv("movie_directors.csv")
df1.to_sql("Table1", conn, if_exists = "replace", index = False)

# Table 2
conn.execute("""
CREATE TABLE IF NOT EXISTS Table2(
     MovieName TEXT,
     Stars TEXT,
     Votes INTEGER,
     Genre TEXT,
     GrossCollection REAL,
     Popularity INTEGER,
     Certification TEXT)""")

# Insert data
df2 = pd.read_csv("movies_genres.csv")
df2.to_sql("Table2", conn, if_exists = "replace", index = False)

# Commit and close the database connection
conn.commit()
conn.close()

* Now we will start quering the tables using SQL queries

In [5]:
# Lets establish a new connection to the SQLite database
conn = sqlite3.connect("movies.db")

# Queries for table 1

# 1. Let's Display all the details of movies created by directors Christopher and Matt Reeves.
query1 = """
SELECT * FROM Table1
WHERE Director LIKE "%Christopher%" OR Director LIKE "%Matt Reeves%"
"""
result1 = pd.read_sql_query(query1, conn)
print("Query 1:")
print(result1)
print()

# 2. Display all the details of movies with a duration of 140 to 190 minutes.
query2 = """
SELECT * FROM Table1
WHERE Duration >=140 AND Duration <=190"""

result2 = pd.read_sql_query(query2, conn)
print("Query 2:")
print(result2)
print()

# 3. Display all details of movies with ratings above 7 in ascending order.
query3 = """
SELECT * FROM Table1
WHERE Rating > 7
ORDER BY Rating ASC"""

result3 = pd.read_sql_query(query3, conn)
print("Query 3:")
print(result3)
print()

# 4. Display all movie names in descending order.
query4 = """
SELECT DISTINCT `Movie Name` FROM Table1
ORDER BY `Movie Name` DESC"""

result4 = pd.read_sql_query(query4, conn)
print("Query 4:")
print(result4)
print()

# 5. Display movie name starts with 'P' and their rating is greater than 7.
query5 = """
SELECT `Movie Name` FROM Table1
WHERE `Movie Name` LIKE 'P%' AND Rating > 7"""

result5 = pd.read_sql_query(query5, conn)
print("Query 5:")
print(result5)
print()

Query 1:
      Sno             Movie Name  \
0       1        The Dark Knight
1       4              Inception
2      22  The Dark Knight Rises
3      40          Batman Begins
4      51        The Dark Knight
..    ...                    ...
195  2440          Batman Begins
196  2451        The Dark Knight
197  2454              Inception
198  2472  The Dark Knight Rises
199  2490          Batman Begins

                                              Director  Duration  Year  \
0    Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
1    Christopher Nolan,Leonardo DiCaprio,Joseph Gor...       148  2010
2    Christopher Nolan,Christian Bale,Tom Hardy,Ann...       164  2012
3    Christopher Nolan,Christian Bale,Michael Caine...       140  2005
4    Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
..                                                 ...       ...   ...
195  Christopher Nolan,Christian Bale,Michael Caine...       140  2005
196  Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
197  Christopher Nolan,Leonardo DiCaprio,Joseph Gor...       148  2010
198  Christopher Nolan,Christian Bale,Tom Hardy,Ann...       164  2012
199  Christopher Nolan,Christian Bale,Michael Caine...       140  2005

     Rating  Metascore
0       9.0       84.0
1       8.8       74.0
2       8.4       78.0
3       8.2       70.0
4       9.0       84.0
..      ...        ...
195     8.2       70.0
196     9.0       84.0
197     8.8       74.0
198     8.4       78.0
199     8.2       70.0

[200 rows x 7 columns]

Query 2:
       Sno                                         Movie Name  \
0        1                                    The Dark Knight
1        3                Spider-Man: Across the Spider-Verse
2        4                                          Inception
3        5  The Lord of the Rings: The Fellowship of the Ring
4        6              The Lord of the Rings: The Two Towers
...    ...                                                ...
1195  2488                            Spider-Man: No Way Home
1196  2490                                      Batman Begins
1197  2496                                                Ran
1198  2497                        Baahubali 2: The Conclusion
1199  2500                                   K.G.F: Chapter 1

                                               Director  Duration  Year  \
0     Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
1     Joaquim Dos Santos,Kemp Powers,Justin K. Thomp...       140  2023
2     Christopher Nolan,Leonardo DiCaprio,Joseph Gor...       148  2010
3     Peter Jackson,Elijah Wood,Ian McKellen,Orlando...       178  2001
4     Peter Jackson,Elijah Wood,Ian McKellen,Viggo M...       179  2002
...                                                 ...       ...   ...
1195  Jon Watts,Tom Holland,Zendaya,Benedict Cumberb...       148  2021
1196  Christopher Nolan,Christian Bale,Michael Caine...       140  2005
1197  Akira Kurosawa,Tatsuya Nakadai,Akira Terao,Jin...       162  1985
1198  S.S. Rajamouli,Prabhas,Rana Daggubati,Anushka ...       167  2017
1199  Prashanth Neel,Yash,Srinidhi Shetty,Ramachandr...       156  2018

      Rating  Metascore
0        9.0       84.0
1        8.9       86.0
2        8.8       74.0
3        8.8       92.0
4        8.8       87.0
...      ...        ...
1195     8.2       71.0
1196     8.2       70.0
1197     8.2       97.0
1198     8.2        NaN
1199     8.2        NaN

[1200 rows x 7 columns]

Query 3:
       Sno                                     Movie Name  \
0       37             Indiana Jones and the Last Crusade
1       38                        Spider-Man: No Way Home
2       39                                  Jurassic Park
3       40                                  Batman Begins
4       41                                           1917
...    ...                                            ...
2495  2352  The Lord of the Rings: The Return of the King
2496  2401                                The Dark Knight
2497  2402  The Lord of the Rings: The Return of the King
2498  2451                                The Dark Knight
2499  2452  The Lord of the Rings: The Return of the King

                                               Director  Duration  Year  \
0     Steven Spielberg,Harrison Ford,Sean Connery,Al...       127  1989
1     Jon Watts,Tom Holland,Zendaya,Benedict Cumberb...       148  2021
2     Steven Spielberg,Sam Neill,Laura Dern,Jeff Gol...       127  1993
3     Christopher Nolan,Christian Bale,Michael Caine...       140  2005
4     Sam Mendes,Dean-Charles Chapman,George MacKay,...       119  2019
...                                                 ...       ...   ...
2495  Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...       201  2003
2496  Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
2497  Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...       201  2003
2498  Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
2499  Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...       201  2003

      Rating  Metascore
0        8.2       65.0
1        8.2       71.0
2        8.2       68.0
3        8.2       70.0
4        8.2       78.0
...      ...        ...
2495     9.0       94.0
2496     9.0       84.0
2497     9.0       94.0
2498     9.0       84.0
2499     9.0       94.0

[2500 rows x 7 columns]

Query 4:
                                           Movie Name
0                                             Yôjinbô
1                                              Vikram
2                                      V for Vendetta
3                                   Top Gun: Maverick
4                                          The Matrix
5               The Lord of the Rings: The Two Towers
6       The Lord of the Rings: The Return of the King
7   The Lord of the Rings: The Fellowship of the Ring
8                               The Dark Knight Rises
9                                     The Dark Knight
10                         Terminator 2: Judgment Day
11         Star Wars: Episode VI - Return of the Jedi
12     Star Wars: Episode V - The Empire Strikes Back
13                                          Star Wars
14                            Spider-Man: No Way Home
15                  Spider-Man: Into the Spider-Verse
16                Spider-Man: Across the Spider-Verse
17                                    Soorarai Pottru
18                                         Sita Ramam
19                               Shichinin no samurai
20                                          Shershaah
21                                            Seppuku
22                                           Ratsasan
23                                                Ran
24                            Raiders of the Lost Ark
25                                           Oldeuboi
26                                 North by Northwest
27                                      Mononoke-hime
28                                               Léon
29                 Kimetsu no Yaiba: Mugen Ressha-Hen
30                                  Kill Bill: Vol. 1
31                                            Kantara
32                                             Kaithi
33                                   K.G.F: Chapter 2
34                                   K.G.F: Chapter 1
35                                      Jurassic Park
36                 Indiana Jones and the Last Crusade
37                                          Inception
38                                               Heat
39                                          Gladiator
40                                 Gangs of Wasseypur
41                                           Die Hard
42                                             Dangal
43                                      Batman Begins
44                        Baahubali 2: The Conclusion
45                             Avengers: Infinity War
46                                  Avengers: Endgame
47                                             Asuran
48                                             Aliens
49                                               1917

Query 5:
Empty DataFrame
Columns: [Movie Name]
Index: []

In [6]:
# Queries for table 2

# 1. Display all movie names with star 'Arnold Schwarzenegger' in ascending order.

query6 = """
SELECT  DISTINCT `Movie Name` FROM Table2
WHERE Stars LIKE '%Arnold Schwarzenegger%'
ORDER BY `Movie Name` ASC"""

result6 = pd.read_sql_query(query6, conn)
print("Query 6:")
print(result6)
print()

# 2. Now display all details of the movie with the highest number of votes.
query7 = """
SELECT * FROM Table2
WHERE Votes = (SELECT MAX(Votes) FROM Table2)
LIMIT 1 """

result7 = pd.read_sql_query(query7, conn)
print("Query 7:")
print(result7)
print()

# 3. Now display  movie names with gross colletion in descending order.
query8 = """
SELECT DISTINCT `Movie Name` FROM Table2
ORDER BY `Gross collection` DESC"""

result8 = pd.read_sql_query(query8, conn)
print("Query8:")
print(result8)
print()

# 4. Display the gross collection of movies with the star 'Arnold'.
query9 = """
SELECT DISTINCT `Movie Name`, `Gross collection` FROM Table2
WHERE Stars LIKE '%Arnold%' """

result9 = pd.read_sql_query(query9, conn)
print("Query 9:")
print(result9)
print()

# 5. Dispaly all details of movies with comedy and action genres.
query10 = """
SELECT * FROM Table2
WHERE Genre LIKE '%Comedy%' AND Genre LIKE '%Action%'
"""

result10 = pd.read_sql_query(query10, conn)
print("Query10:")
print(result10)
print()

Query 6:
                   Movie Name
0  Terminator 2: Judgment Day

Query 7:
        Movie Name                                              Stars  \
0  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...

     Votes                 Genre Gross collection  Popularity Certification
0  2739587  Action, Crime, Drama         $534.86M         1.0            UA

Query8:
                                           Movie Name
0                                   Avengers: Endgame
1                                              Aliens
2                                            Die Hard
3                             Spider-Man: No Way Home
4                                   Top Gun: Maverick
5                                      V for Vendetta
6                                   Kill Bill: Vol. 1
7                              Avengers: Infinity War
8                                                Heat
9                                    K.G.F: Chapter 2
10                                    The Dark Knight
11                 Kimetsu no Yaiba: Mugen Ressha-Hen
12                              The Dark Knight Rises
13                                      Jurassic Park
14                                                Ran
15      The Lord of the Rings: The Return of the King
16              The Lord of the Rings: The Two Towers
17                                          Star Wars
18  The Lord of the Rings: The Fellowship of the Ring
19         Star Wars: Episode VI - Return of the Jedi
20                                          Inception
21     Star Wars: Episode V - The Empire Strikes Back
22                            Raiders of the Lost Ark
23                                      Batman Begins
24                         Terminator 2: Judgment Day
25                        Baahubali 2: The Conclusion
26                                      Mononoke-hime
27                 Indiana Jones and the Last Crusade
28                  Spider-Man: Into the Spider-Verse
29                                               Léon
30                                          Gladiator
31                                         The Matrix
32                                               1917
33                                 North by Northwest
34                                             Dangal
35                                           Oldeuboi
36                               Shichinin no samurai
37                Spider-Man: Across the Spider-Verse
38                                    Soorarai Pottru
39                                            Seppuku
40                                         Sita Ramam
41                                             Kaithi
42                                             Asuran
43                                            Kantara
44                                             Vikram
45                                          Shershaah
46                                           Ratsasan
47                                 Gangs of Wasseypur
48                                            Yôjinbô
49                                   K.G.F: Chapter 1

Query 9:
                   Movie Name Gross collection
0  Terminator 2: Judgment Day         $204.84M

Query10:
            Movie Name                                              Stars  \
0   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
1   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
2   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
3   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
4   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
5   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
6   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
7   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
8   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
9   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
10  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
11  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
12  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
13  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
14  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
15  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
16  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
17  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
18  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
19  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
20  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
21  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
22  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
23  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
24  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
25  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
26  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
27  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
28  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
29  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
30  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
31  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
32  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
33  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
34  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
35  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
36  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
37  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
38  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
39  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
40  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
41  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
42  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
43  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
44  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
45  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
46  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
47  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
48  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
49  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...

    Votes                  Genre Gross collection  Popularity Certification
0   99867  Action, Comedy, Crime             None        48.0             A
1   99867  Action, Comedy, Crime             None        48.0             A
2   99867  Action, Comedy, Crime             None        48.0             A
3   99867  Action, Comedy, Crime             None        48.0             A
4   99867  Action, Comedy, Crime             None        48.0             A
5   99867  Action, Comedy, Crime             None        48.0             A
6   99867  Action, Comedy, Crime             None        48.0             A
7   99867  Action, Comedy, Crime             None        48.0             A
8   99867  Action, Comedy, Crime             None        48.0             A
9   99867  Action, Comedy, Crime             None        48.0             A
10  99867  Action, Comedy, Crime             None        48.0             A
11  99867  Action, Comedy, Crime             None        48.0             A
12  99867  Action, Comedy, Crime             None        48.0             A
13  99867  Action, Comedy, Crime             None        48.0             A
14  99867  Action, Comedy, Crime             None        48.0             A
15  99867  Action, Comedy, Crime             None        48.0             A
16  99867  Action, Comedy, Crime             None        48.0             A
17  99867  Action, Comedy, Crime             None        48.0             A
18  99867  Action, Comedy, Crime             None        48.0             A
19  99867  Action, Comedy, Crime             None        48.0             A
20  99867  Action, Comedy, Crime             None        48.0             A
21  99867  Action, Comedy, Crime             None        48.0             A
22  99867  Action, Comedy, Crime             None        48.0             A
23  99867  Action, Comedy, Crime             None        48.0             A
24  99867  Action, Comedy, Crime             None        48.0             A
25  99867  Action, Comedy, Crime             None        48.0             A
26  99867  Action, Comedy, Crime             None        48.0             A
27  99867  Action, Comedy, Crime             None        48.0             A
28  99867  Action, Comedy, Crime             None        48.0             A
29  99867  Action, Comedy, Crime             None        48.0             A
30  99867  Action, Comedy, Crime             None        48.0             A
31  99867  Action, Comedy, Crime             None        48.0             A
32  99867  Action, Comedy, Crime             None        48.0             A
33  99867  Action, Comedy, Crime             None        48.0             A
34  99867  Action, Comedy, Crime             None        48.0             A
35  99867  Action, Comedy, Crime             None        48.0             A
36  99867  Action, Comedy, Crime             None        48.0             A
37  99867  Action, Comedy, Crime             None        48.0             A
38  99867  Action, Comedy, Crime             None        48.0             A
39  99867  Action, Comedy, Crime             None        48.0             A
40  99867  Action, Comedy, Crime             None        48.0             A
41  99867  Action, Comedy, Crime             None        48.0             A
42  99867  Action, Comedy, Crime             None        48.0             A
43  99867  Action, Comedy, Crime             None        48.0             A
44  99867  Action, Comedy, Crime             None        48.0             A
45  99867  Action, Comedy, Crime             None        48.0             A
46  99867  Action, Comedy, Crime             None        48.0             A
47  99867  Action, Comedy, Crime             None        48.0             A
48  99867  Action, Comedy, Crime             None        48.0             A
49  99867  Action, Comedy, Crime             None        48.0             A

In [7]:
# Subqueries

# 1. Display all details from both tables where movie names are the same
query11 = """
SELECT DISTINCT * FROM Table1
JOIN Table2 ON Table1.`Movie Name` = Table2.`Movie Name` """

result11 = pd.read_sql_query(query11, conn)
print("Query11:")
print(result11)
print()

# 2. Let's display all movie names, Director, ratings, and gross collection where the genre is action.
query12 = """
SELECT DISTINCT Table1.`Movie Name`, Table1.Director, Table1.Rating, Table2.`Gross collection`
FROM Table1
JOIN Table2 ON Table1.`Movie Name` = Table2.`Movie Name`
WHERE Table2.Genre LIKE '%Action%' """

result12 = pd.read_sql_query(query12, conn)
print("Query12:")
print(result12)
print()

# 3. Now query will display all details from both the tables with the highest gross collection.
query13 = """
SELECT DISTINCT *
FROM Table1
JOIN Table2 ON Table1.`Movie Name` = Table2.`Movie Name`
WHERE Table2.`Gross collection` = (SELECT MAX(`Gross collection`) FROM Table2)"""

result13 = pd.read_sql_query(query13, conn)
print("Query13:")
print(result13)
print()

# 4. Now query will display all details from both the tables with the highest rating.
query14 = """SELECT DISTINCT *
FROM Table1
JOIN Table2 ON Table1. `Movie Name` = Table2.`Movie Name`
WHERE Table1.Rating = (SELECT MAX(Rating) FROM Table1)"""

result14 = pd.read_sql_query(query14, conn)
print("Query14:")
print(result14)
print()

# 5. This query will display all the details from both tables with the lowest gross collection and lowest rating.
query15 = """SELECT DISTINCT *
FROM Table1
JOIN Table2 ON Table1.`Movie Name` = Table2.`Movie Name`
WHERE Table1.Rating = (SELECT MIN(Rating) AS MinRating FROM Table1)
 AND Table2.`Gross collection` = (SELECT MIN(`Gross collection`) AS MinGross FROM Table2)"""


result15 = pd.read_sql_query(query15, conn)
print("Query15:")
print(result15)
print()

Query11:
       Sno                                         Movie Name  \
0        1                                    The Dark Knight
1        2      The Lord of the Rings: The Return of the King
2        3                Spider-Man: Across the Spider-Verse
3        4                                          Inception
4        5  The Lord of the Rings: The Fellowship of the Ring
...    ...                                                ...
2495  2496                                                Ran
2496  2497                        Baahubali 2: The Conclusion
2497  2498                                 Gangs of Wasseypur
2498  2499                                            Yôjinbô
2499  2500                                   K.G.F: Chapter 1

                                               Director  Duration  Year  \
0     Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
1     Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...       201  2003
2     Joaquim Dos Santos,Kemp Powers,Justin K. Thomp...       140  2023
3     Christopher Nolan,Leonardo DiCaprio,Joseph Gor...       148  2010
4     Peter Jackson,Elijah Wood,Ian McKellen,Orlando...       178  2001
...                                                 ...       ...   ...
2495  Akira Kurosawa,Tatsuya Nakadai,Akira Terao,Jin...       162  1985
2496  S.S. Rajamouli,Prabhas,Rana Daggubati,Anushka ...       167  2017
2497  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...       321  2012
2498  Akira Kurosawa,Toshirô Mifune,Eijirô Tôno,Tats...       110  1961
2499  Prashanth Neel,Yash,Srinidhi Shetty,Ramachandr...       156  2018

      Rating  Metascore                                         Movie Name  \
0        9.0       84.0                                    The Dark Knight
1        9.0       94.0      The Lord of the Rings: The Return of the King
2        8.9       86.0                Spider-Man: Across the Spider-Verse
3        8.8       74.0                                          Inception
4        8.8       92.0  The Lord of the Rings: The Fellowship of the Ring
...      ...        ...                                                ...
2495     8.2       97.0                                                Ran
2496     8.2        NaN                        Baahubali 2: The Conclusion
2497     8.2       89.0                                 Gangs of Wasseypur
2498     8.2       93.0                                            Yôjinbô
2499     8.2        NaN                                   K.G.F: Chapter 1

                                                  Stars    Votes  \
0     Christopher Nolan,Christian Bale,Heath Ledger,...  2739587
1     Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...  1898276
2     Joaquim Dos Santos,Kemp Powers,Justin K. Thomp...   183132
3     Christopher Nolan,Leonardo DiCaprio,Joseph Gor...  2431092
4     Peter Jackson,Elijah Wood,Ian McKellen,Orlando...  1926707
...                                                 ...      ...
2495  Akira Kurosawa,Tatsuya Nakadai,Akira Terao,Jin...   130239
2496  S.S. Rajamouli,Prabhas,Rana Daggubati,Anushka ...   108031
2497  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...    99867
2498  Akira Kurosawa,Toshirô Mifune,Eijirô Tôno,Tats...   126668
2499  Prashanth Neel,Yash,Srinidhi Shetty,Ramachandr...    92503

                             Genre Gross collection  Popularity Certification
0             Action, Crime, Drama         $534.86M         1.0            UA
1         Action, Adventure, Drama         $377.85M         2.0             U
2     Animation, Action, Adventure             None         3.0             U
3        Action, Adventure, Sci-Fi         $292.58M         4.0            UA
4         Action, Adventure, Drama         $315.54M         5.0             U
...                            ...              ...         ...           ...
2495            Action, Drama, War           $4.14M        46.0     Not Rated
2496                 Action, Drama          $20.19M        47.0            UA
2497         Action, Comedy, Crime             None        48.0             A
2498       Action, Drama, Thriller             None        49.0             U
2499          Action, Crime, Drama             None        50.0            UA

[2500 rows x 14 columns]

Query12:
                                           Movie Name  \
0                                     The Dark Knight
1       The Lord of the Rings: The Return of the King
2                 Spider-Man: Across the Spider-Verse
3                                           Inception
4   The Lord of the Rings: The Fellowship of the Ring
5               The Lord of the Rings: The Two Towers
6                                          The Matrix
7      Star Wars: Episode V - The Empire Strikes Back
8                                     Soorarai Pottru
9                          Terminator 2: Judgment Day
10                                          Star Wars
11                               Shichinin no samurai
12                                            Seppuku
13                                         Sita Ramam
14                                          Gladiator
15                                               Léon
16                            Raiders of the Lost Ark
17                  Spider-Man: Into the Spider-Verse
18                                             Aliens
19                                  Avengers: Endgame
20                                           Oldeuboi
21                              The Dark Knight Rises
22                             Avengers: Infinity War
23                                             Kaithi
24                                             Asuran
25                                  Top Gun: Maverick
26                                               Heat
27         Star Wars: Episode VI - Return of the Jedi
28                                      Mononoke-hime
29                                 North by Northwest
30                                             Dangal
31                                            Kantara
32                                   K.G.F: Chapter 2
33                                             Vikram
34                                          Shershaah
35                                           Ratsasan
36                 Indiana Jones and the Last Crusade
37                            Spider-Man: No Way Home
38                                      Jurassic Park
39                                      Batman Begins
40                                               1917
41                                           Die Hard
42                                  Kill Bill: Vol. 1
43                                     V for Vendetta
44                 Kimetsu no Yaiba: Mugen Ressha-Hen
45                                                Ran
46                        Baahubali 2: The Conclusion
47                                 Gangs of Wasseypur
48                                            Yôjinbô
49                                   K.G.F: Chapter 1

                                             Director  Rating Gross collection
0   Christopher Nolan,Christian Bale,Heath Ledger,...     9.0         $534.86M
1   Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...     9.0         $377.85M
2   Joaquim Dos Santos,Kemp Powers,Justin K. Thomp...     8.9             None
3   Christopher Nolan,Leonardo DiCaprio,Joseph Gor...     8.8         $292.58M
4   Peter Jackson,Elijah Wood,Ian McKellen,Orlando...     8.8         $315.54M
5   Peter Jackson,Elijah Wood,Ian McKellen,Viggo M...     8.8         $342.55M
6   Lana Wachowski,Lilly Wachowski,Keanu Reeves,La...     8.7         $171.48M
7   Irvin Kershner,Mark Hamill,Harrison Ford,Carri...     8.7         $290.48M
8   Sudha Kongara,Suriya,Paresh Rawal,Aparna Balam...     8.7             None
9   James Cameron,Arnold Schwarzenegger,Linda Hami...     8.6         $204.84M
10  George Lucas,Mark Hamill,Harrison Ford,Carrie ...     8.6         $322.74M
11  Akira Kurosawa,Toshirô Mifune,Takashi Shimura,...     8.6           $0.27M
12  Masaki Kobayashi,Tatsuya Nakadai,Akira Ishiham...     8.6             None
13  Hanu Raghavapudi,Dulquer Salmaan,Mrunal Thakur...     8.6             None
14  Ridley Scott,Russell Crowe,Joaquin Phoenix,Con...     8.5         $187.71M
15  Luc Besson,Jean Reno,Gary Oldman,Natalie Portm...     8.5          $19.50M
16  Steven Spielberg,Harrison Ford,Karen Allen,Pau...     8.4         $248.16M
17  Bob Persichetti,Peter Ramsey,Rodney Rothman,Sh...     8.4         $190.24M
18  James Cameron,Sigourney Weaver,Michael Biehn,C...     8.4          $85.16M
19  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...     8.4         $858.37M
20  Park Chan-wook,Choi Min-sik,Yoo Ji-tae,Kang Hy...     8.4           $0.71M
21  Christopher Nolan,Christian Bale,Tom Hardy,Ann...     8.4         $448.14M
22  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...     8.4         $678.82M
23  Lokesh Kanagaraj,Karthi,Narain,Arjun Das,Georg...     8.4             None
24  Vetrimaaran,Dhanush,Manju Warrier,Prakash Raj,...     8.4             None
25  Joseph Kosinski,Tom Cruise,Jennifer Connelly,M...     8.3         $718.73M
26  Michael Mann,Al Pacino,Robert De Niro,Val Kilm...     8.3          $67.44M
27  Richard Marquand,Mark Hamill,Harrison Ford,Car...     8.3         $309.13M
28  Hayao Miyazaki,Yôji Matsuda,Yuriko Ishida,Yûko...     8.3           $2.38M
29  Alfred Hitchcock,Cary Grant,Eva Marie Saint,Ja...     8.3          $13.28M
30  Nitesh Tiwari,Aamir Khan,Sakshi Tanwar,Fatima ...     8.3          $12.39M
31  Rishab Shetty,Rishab Shetty,Kishore Kumar G.,A...     8.3             None
32  Prashanth Neel,Yash,Sanjay Dutt,Raveena Tandon...     8.3           $6.60M
33  Lokesh Kanagaraj,Kamal Haasan,Vijay Sethupathi...     8.3             None
34  Vishnuvardhan,Sidharth Malhotra,Kiara Advani,S...     8.3             None
35  Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,...     8.3             None
36  Steven Spielberg,Harrison Ford,Sean Connery,Al...     8.2         $197.17M
37  Jon Watts,Tom Holland,Zendaya,Benedict Cumberb...     8.2         $804.75M
38  Steven Spielberg,Sam Neill,Laura Dern,Jeff Gol...     8.2         $402.45M
39  Christopher Nolan,Christian Bale,Michael Caine...     8.2         $206.85M
40  Sam Mendes,Dean-Charles Chapman,George MacKay,...     8.2         $159.23M
41  John McTiernan,Bruce Willis,Alan Rickman,Bonni...     8.2          $83.01M
42  Quentin Tarantino,Uma Thurman,David Carradine,...     8.2          $70.10M
43  James McTeigue,Hugo Weaving,Natalie Portman,Ru...     8.2          $70.51M
44  Haruo Sotozaki,Natsuki Hanae,Akari Kitô,Yoshit...     8.2          $47.70M
45  Akira Kurosawa,Tatsuya Nakadai,Akira Terao,Jin...     8.2           $4.14M
46  S.S. Rajamouli,Prabhas,Rana Daggubati,Anushka ...     8.2          $20.19M
47  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...     8.2             None
48  Akira Kurosawa,Toshirô Mifune,Eijirô Tôno,Tats...     8.2             None
49  Prashanth Neel,Yash,Srinidhi Shetty,Ramachandr...     8.2             None

Query13:
     Sno         Movie Name  \
0     20  Avengers: Endgame
1     70  Avengers: Endgame
2    120  Avengers: Endgame
3    170  Avengers: Endgame
4    220  Avengers: Endgame
5    270  Avengers: Endgame
6    320  Avengers: Endgame
7    370  Avengers: Endgame
8    420  Avengers: Endgame
9    470  Avengers: Endgame
10   520  Avengers: Endgame
11   570  Avengers: Endgame
12   620  Avengers: Endgame
13   670  Avengers: Endgame
14   720  Avengers: Endgame
15   770  Avengers: Endgame
16   820  Avengers: Endgame
17   870  Avengers: Endgame
18   920  Avengers: Endgame
19   970  Avengers: Endgame
20  1020  Avengers: Endgame
21  1070  Avengers: Endgame
22  1120  Avengers: Endgame
23  1170  Avengers: Endgame
24  1220  Avengers: Endgame
25  1270  Avengers: Endgame
26  1320  Avengers: Endgame
27  1370  Avengers: Endgame
28  1420  Avengers: Endgame
29  1470  Avengers: Endgame
30  1520  Avengers: Endgame
31  1570  Avengers: Endgame
32  1620  Avengers: Endgame
33  1670  Avengers: Endgame
34  1720  Avengers: Endgame
35  1770  Avengers: Endgame
36  1820  Avengers: Endgame
37  1870  Avengers: Endgame
38  1920  Avengers: Endgame
39  1970  Avengers: Endgame
40  2020  Avengers: Endgame
41  2070  Avengers: Endgame
42  2120  Avengers: Endgame
43  2170  Avengers: Endgame
44  2220  Avengers: Endgame
45  2270  Avengers: Endgame
46  2320  Avengers: Endgame
47  2370  Avengers: Endgame
48  2420  Avengers: Endgame
49  2470  Avengers: Endgame

                                             Director  Duration  Year  Rating  \
0   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
1   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
2   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
3   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
4   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
5   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
6   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
7   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
8   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
9   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
10  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
11  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
12  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
13  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
14  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
15  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
16  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
17  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
18  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
19  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
20  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
21  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
22  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
23  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
24  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
25  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
26  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
27  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
28  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
29  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
30  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
31  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
32  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
33  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
34  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
35  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
36  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
37  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
38  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
39  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
40  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
41  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
42  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
43  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
44  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
45  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
46  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
47  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
48  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
49  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4

    Metascore         Movie Name  \
0        78.0  Avengers: Endgame
1        78.0  Avengers: Endgame
2        78.0  Avengers: Endgame
3        78.0  Avengers: Endgame
4        78.0  Avengers: Endgame
5        78.0  Avengers: Endgame
6        78.0  Avengers: Endgame
7        78.0  Avengers: Endgame
8        78.0  Avengers: Endgame
9        78.0  Avengers: Endgame
10       78.0  Avengers: Endgame
11       78.0  Avengers: Endgame
12       78.0  Avengers: Endgame
13       78.0  Avengers: Endgame
14       78.0  Avengers: Endgame
15       78.0  Avengers: Endgame
16       78.0  Avengers: Endgame
17       78.0  Avengers: Endgame
18       78.0  Avengers: Endgame
19       78.0  Avengers: Endgame
20       78.0  Avengers: Endgame
21       78.0  Avengers: Endgame
22       78.0  Avengers: Endgame
23       78.0  Avengers: Endgame
24       78.0  Avengers: Endgame
25       78.0  Avengers: Endgame
26       78.0  Avengers: Endgame
27       78.0  Avengers: Endgame
28       78.0  Avengers: Endgame
29       78.0  Avengers: Endgame
30       78.0  Avengers: Endgame
31       78.0  Avengers: Endgame
32       78.0  Avengers: Endgame
33       78.0  Avengers: Endgame
34       78.0  Avengers: Endgame
35       78.0  Avengers: Endgame
36       78.0  Avengers: Endgame
37       78.0  Avengers: Endgame
38       78.0  Avengers: Endgame
39       78.0  Avengers: Endgame
40       78.0  Avengers: Endgame
41       78.0  Avengers: Endgame
42       78.0  Avengers: Endgame
43       78.0  Avengers: Endgame
44       78.0  Avengers: Endgame
45       78.0  Avengers: Endgame
46       78.0  Avengers: Endgame
47       78.0  Avengers: Endgame
48       78.0  Avengers: Endgame
49       78.0  Avengers: Endgame

                                                Stars    Votes  \
0   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
1   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
2   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
3   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
4   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
5   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
6   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
7   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
8   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
9   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
10  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
11  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
12  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
13  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
14  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
15  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
16  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
17  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
18  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
19  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
20  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
21  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
22  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
23  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
24  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
25  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
26  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892

In [8]:
# Close the connection
conn.close()

* Now we will make solution of above all 15 query using Pandas SQL

In [9]:
! pip install pandasql

Requirement already satisfied: pandasql in /Applications/anaconda3/lib/python3.10/site-packages (0.7.3)
Requirement already satisfied: pandas in /Applications/anaconda3/lib/python3.10/site-packages (from pandasql) (1.5.3)
Requirement already satisfied: numpy in /Applications/anaconda3/lib/python3.10/site-packages (from pandasql) (1.23.5)
Requirement already satisfied: sqlalchemy in /Applications/anaconda3/lib/python3.10/site-packages (from pandasql) (1.4.39)
Requirement already satisfied: python-dateutil>=2.8.1 in /Applications/anaconda3/lib/python3.10/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Applications/anaconda3/lib/python3.10/site-packages (from pandas->pandasql) (2022.7)
Requirement already satisfied: six>=1.5 in /Applications/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)

In [10]:
from pandasql import sqldf

# Define pandasql function
pysqldf = lambda q: sqldf(q, globals())

# Load CSV files into dataframes
df1 = pd.read_csv("movie_directors.csv")
df2 = pd.read_csv("movies_genres.csv")

# Concatenate the dataframes for subqueries
df_new = pd.merge(df1, df2, on = 'Movie Name')

# Solutions using Pandas SQL

# Q1
query1 = """SELECT * FROM df1
WHERE Director LIKE '%Christopher%' OR Director LIKE '%Matt Reeves%' """

result1 = pysqldf(query1)
print("Query1:")
print(result1)
print()

# Q2
query2 = """SELECT *
FROM df1
WHERE Duration >= 140
AND Duration <= 190"""

result2 = pysqldf(query2)
print("Query 2:")
print(result2)
print()

# Q3
query3 = """SELECT *
FROM df1
WHERE Rating >7
ORDER BY Rating ASC"""

result3 = pysqldf(query3)
print("Query 3:")
print(result3)
print()

# Q4
query4 = """SELECT DISTINCT `Movie Name` FROM df1
ORDER BY `Movie Name` DESC"""

result4 = pysqldf(query4)
print("Query 4:")
print(result4)
print()

# Q5
query5 = """SELECT `Movie Name` FROM df1
WHERE `Movie Name` LIKE 'P%'
AND Rating>7 """

result5 = pysqldf(query5)
print("Query 5:")
print(result5)
print()

# Q6
query6 = """SELECT DISTINCT `Movie Name` FROM df2
WHERE Stars LIKE '%Arnold Schwarzenegger%'
ORDER BY `Movie Name` ASC """

result6 = pysqldf(query6)
print("Query 6:")
print(result6)
print()

# Q7
query7 = """SELECT * FROM df2
WHERE Votes == (SELECT MAX(Votes) FROM df2)"""

result7 = pysqldf(query7)
print("Query 7:")
print(result7)
print()

# Q8
query8 = """SELECT DISTINCT `Movie Name` FROM df2
ORDER BY `Gross collection` DESC """

result8 = pysqldf(query8)
print("Query 8:")
print(result8)
print()

# Q9
query9 = """SELECT DISTINCT `Movie Name`, `Gross collection`
FROM df2 WHERE Stars LIKE '%Arnold%' """

result9 = pysqldf(query9)
print("Query 9 :")
print(result9)
print()

# Q10
query10 = """SELECT * FROM df2
WHERE Genre LIKE '%Comedy%' AND 
Genre LIKE '%Action%' """

result10 = pysqldf(query10)
print("Query 10:")
print(result10)
print()

Query1:
      Sno             Movie Name  \
0       1        The Dark Knight
1       4              Inception
2      22  The Dark Knight Rises
3      40          Batman Begins
4      51        The Dark Knight
..    ...                    ...
195  2440          Batman Begins
196  2451        The Dark Knight
197  2454              Inception
198  2472  The Dark Knight Rises
199  2490          Batman Begins

                                              Director  Duration  Year  \
0    Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
1    Christopher Nolan,Leonardo DiCaprio,Joseph Gor...       148  2010
2    Christopher Nolan,Christian Bale,Tom Hardy,Ann...       164  2012
3    Christopher Nolan,Christian Bale,Michael Caine...       140  2005
4    Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
..                                                 ...       ...   ...
195  Christopher Nolan,Christian Bale,Michael Caine...       140  2005
196  Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
197  Christopher Nolan,Leonardo DiCaprio,Joseph Gor...       148  2010
198  Christopher Nolan,Christian Bale,Tom Hardy,Ann...       164  2012
199  Christopher Nolan,Christian Bale,Michael Caine...       140  2005

     Rating  Metascore
0       9.0       84.0
1       8.8       74.0
2       8.4       78.0
3       8.2       70.0
4       9.0       84.0
..      ...        ...
195     8.2       70.0
196     9.0       84.0
197     8.8       74.0
198     8.4       78.0
199     8.2       70.0

[200 rows x 7 columns]

Query 2:
       Sno                                         Movie Name  \
0        1                                    The Dark Knight
1        3                Spider-Man: Across the Spider-Verse
2        4                                          Inception
3        5  The Lord of the Rings: The Fellowship of the Ring
4        6              The Lord of the Rings: The Two Towers
...    ...                                                ...
1195  2488                            Spider-Man: No Way Home
1196  2490                                      Batman Begins
1197  2496                                                Ran
1198  2497                        Baahubali 2: The Conclusion
1199  2500                                   K.G.F: Chapter 1

                                               Director  Duration  Year  \
0     Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
1     Joaquim Dos Santos,Kemp Powers,Justin K. Thomp...       140  2023
2     Christopher Nolan,Leonardo DiCaprio,Joseph Gor...       148  2010
3     Peter Jackson,Elijah Wood,Ian McKellen,Orlando...       178  2001
4     Peter Jackson,Elijah Wood,Ian McKellen,Viggo M...       179  2002
...                                                 ...       ...   ...
1195  Jon Watts,Tom Holland,Zendaya,Benedict Cumberb...       148  2021
1196  Christopher Nolan,Christian Bale,Michael Caine...       140  2005
1197  Akira Kurosawa,Tatsuya Nakadai,Akira Terao,Jin...       162  1985
1198  S.S. Rajamouli,Prabhas,Rana Daggubati,Anushka ...       167  2017
1199  Prashanth Neel,Yash,Srinidhi Shetty,Ramachandr...       156  2018

      Rating  Metascore
0        9.0       84.0
1        8.9       86.0
2        8.8       74.0
3        8.8       92.0
4        8.8       87.0
...      ...        ...
1195     8.2       71.0
1196     8.2       70.0
1197     8.2       97.0
1198     8.2        NaN
1199     8.2        NaN

[1200 rows x 7 columns]

Query 3:
       Sno                                     Movie Name  \
0       37             Indiana Jones and the Last Crusade
1       38                        Spider-Man: No Way Home
2       39                                  Jurassic Park
3       40                                  Batman Begins
4       41                                           1917
...    ...                                            ...
2495  2352  The Lord of the Rings: The Return of the King
2496  2401                                The Dark Knight
2497  2402  The Lord of the Rings: The Return of the King
2498  2451                                The Dark Knight
2499  2452  The Lord of the Rings: The Return of the King

                                               Director  Duration  Year  \
0     Steven Spielberg,Harrison Ford,Sean Connery,Al...       127  1989
1     Jon Watts,Tom Holland,Zendaya,Benedict Cumberb...       148  2021
2     Steven Spielberg,Sam Neill,Laura Dern,Jeff Gol...       127  1993
3     Christopher Nolan,Christian Bale,Michael Caine...       140  2005
4     Sam Mendes,Dean-Charles Chapman,George MacKay,...       119  2019
...                                                 ...       ...   ...
2495  Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...       201  2003
2496  Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
2497  Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...       201  2003
2498  Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
2499  Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...       201  2003

      Rating  Metascore
0        8.2       65.0
1        8.2       71.0
2        8.2       68.0
3        8.2       70.0
4        8.2       78.0
...      ...        ...
2495     9.0       94.0
2496     9.0       84.0
2497     9.0       94.0
2498     9.0       84.0
2499     9.0       94.0

[2500 rows x 7 columns]

Query 4:
                                           Movie Name
0                                             Yôjinbô
1                                              Vikram
2                                      V for Vendetta
3                                   Top Gun: Maverick
4                                          The Matrix
5               The Lord of the Rings: The Two Towers
6       The Lord of the Rings: The Return of the King
7   The Lord of the Rings: The Fellowship of the Ring
8                               The Dark Knight Rises
9                                     The Dark Knight
10                         Terminator 2: Judgment Day
11         Star Wars: Episode VI - Return of the Jedi
12     Star Wars: Episode V - The Empire Strikes Back
13                                          Star Wars
14                            Spider-Man: No Way Home
15                  Spider-Man: Into the Spider-Verse
16                Spider-Man: Across the Spider-Verse
17                                    Soorarai Pottru
18                                         Sita Ramam
19                               Shichinin no samurai
20                                          Shershaah
21                                            Seppuku
22                                           Ratsasan
23                                                Ran
24                            Raiders of the Lost Ark
25                                           Oldeuboi
26                                 North by Northwest
27                                      Mononoke-hime
28                                               Léon
29                 Kimetsu no Yaiba: Mugen Ressha-Hen
30                                  Kill Bill: Vol. 1
31                                            Kantara
32                                             Kaithi
33                                   K.G.F: Chapter 2
34                                   K.G.F: Chapter 1
35                                      Jurassic Park
36                 Indiana Jones and the Last Crusade
37                                          Inception
38                                               Heat
39                                          Gladiator
40                                 Gangs of Wasseypur
41                                           Die Hard
42                                             Dangal
43                                      Batman Begins
44                        Baahubali 2: The Conclusion
45                             Avengers: Infinity War
46                                  Avengers: Endgame
47                                             Asuran
48                                             Aliens
49                                               1917

Query 5:
Empty DataFrame
Columns: [Movie Name]
Index: []

Query 6:
                   Movie Name
0  Terminator 2: Judgment Day

Query 7:
         Movie Name                                              Stars  \
0   The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
1   The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
2   The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
3   The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
4   The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
5   The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
6   The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
7   The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
8   The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
9   The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
10  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
11  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
12  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
13  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
14  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
15  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
16  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
17  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
18  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
19  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
20  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
21  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
22  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
23  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
24  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
25  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
26  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
27  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
28  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
29  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
30  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
31  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
32  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
33  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
34  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
35  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
36  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
37  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
38  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
39  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
40  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
41  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
42  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
43  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
44  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
45  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
46  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
47  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
48  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...
49  The Dark Knight  Christopher Nolan,Christian Bale,Heath Ledger,...

      Votes                 Genre Gross collection  Popularity Certification
0   2739587  Action, Crime, Drama         $534.86M         1.0            UA
1   2739587  Action, Crime, Drama         $534.86M         1.0            UA
2   2739587  Action, Crime, Drama         $534.86M         1.0            UA
3   2739587  Action, Crime, Drama         $534.86M         1.0            UA
4   2739587  Action, Crime, Drama         $534.86M         1.0            UA
5   2739587  Action, Crime, Drama         $534.86M         1.0            UA
6   2739587  Action, Crime, Drama         $534.86M         1.0            UA
7   2739587  Action, Crime, Drama         $534.86M         1.0            UA
8   2739587  Action, Crime, Drama         $534.86M         1.0            UA
9   2739587  Action, Crime, Drama         $534.86M         1.0            UA
10  2739587  Action, Crime, Drama         $534.86M         1.0            UA
11  2739587  Action, Crime, Drama         $534.86M         1.0            UA
12  2739587  Action, Crime, Drama         $534.86M         1.0            UA
13  2739587  Action, Crime, Drama         $534.86M         1.0            UA
14  2739587  Action, Crime, Drama         $534.86M         1.0            UA
15  2739587  Action, Crime, Drama         $534.86M         1.0            UA
16  2739587  Action, Crime, Drama         $534.86M         1.0            UA
17  2739587  Action, Crime, Drama         $534.86M         1.0            UA
18  2739587  Action, Crime, Drama         $534.86M         1.0            UA
19  2739587  Action, Crime, Drama         $534.86M         1.0            UA
20  2739587  Action, Crime, Drama         $534.86M         1.0            UA
21  2739587  Action, Crime, Drama         $534.86M         1.0            UA
22  2739587  Action, Crime, Drama         $534.86M         1.0            UA
23  2739587  Action, Crime, Drama         $534.86M         1.0            UA
24  2739587  Action, Crime, Drama         $534.86M         1.0            UA
25  2739587  Action, Crime, Drama         $534.86M         1.0            UA
26  2739587  Action, Crime, Drama         $534.86M         1.0            UA
27  2739587  Action, Crime, Drama         $534.86M         1.0            UA
28  2739587  Action, Crime, Drama         $534.86M         1.0            UA
29  2739587  Action, Crime, Drama         $534.86M         1.0            UA
30  2739587  Action, Crime, Drama         $534.86M         1.0            UA
31  2739587  Action, Crime, Drama         $534.86M         1.0            UA
32  2739587  Action, Crime, Drama         $534.86M         1.0            UA
33  2739587  Action, Crime, Drama         $534.86M         1.0            UA
34  2739587  Action, Crime, Drama         $534.86M         1.0            UA
35  2739587  Action, Crime, Drama         $534.86M         1.0            UA
36  2739587  Action, Crime, Drama         $534.86M         1.0            UA
37  2739587  Action, Crime, Drama         $534.86M         1.0            UA
38  2739587  Action, Crime, Drama         $534.86M         1.0            UA
39  2739587  Action, Crime, Drama         $534.86M         1.0            UA
40  2739587  Action, Crime, Drama         $534.86M         1.0            UA
41  2739587  Action, Crime, Drama         $534.86M         1.0            UA
42  2739587  Action, Crime, Drama         $534.86M         1.0            UA
43  2739587  Action, Crime, Drama         $534.86M         1.0            UA
44  2739587  Action, Crime, Drama         $534.86M         1.0            UA
45  2739587  Action, Crime, Drama         $534.86M         1.0            UA
46  2739587  Action, Crime, Drama         $534.86M         1.0            UA
47  2739587  Action, Crime, Drama         $534.86M         1.0            UA
48  2739587  Action, Crime, Drama         $534.86M         1.0            UA
49  2739587  Action, Crime, Drama         $534.86M         1.0            UA

Query 8:
                                           Movie Name
0                                   Avengers: Endgame
1                                              Aliens
2                                            Die Hard
3                             Spider-Man: No Way Home
4                                   Top Gun: Maverick
5                                      V for Vendetta
6                                   Kill Bill: Vol. 1
7                              Avengers: Infinity War
8                                                Heat
9                                    K.G.F: Chapter 2
10                                    The Dark Knight
11                 Kimetsu no Yaiba: Mugen Ressha-Hen
12                              The Dark Knight Rises
13                                      Jurassic Park
14                                                Ran
15      The Lord of the Rings: The Return of the King
16              The Lord of the Rings: The Two Towers
17                                          Star Wars
18  The Lord of the Rings: The Fellowship of the Ring
19         Star Wars: Episode VI - Return of the Jedi
20                                          Inception
21     Star Wars: Episode V - The Empire Strikes Back
22                            Raiders of the Lost Ark
23                                      Batman Begins
24                         Terminator 2: Judgment Day
25                        Baahubali 2: The Conclusion
26                                      Mononoke-hime
27                 Indiana Jones and the Last Crusade
28                  Spider-Man: Into the Spider-Verse
29                                               Léon
30                                          Gladiator
31                                         The Matrix
32                                               1917
33                                 North by Northwest
34                                             Dangal
35                                           Oldeuboi
36                               Shichinin no samurai
37                Spider-Man: Across the Spider-Verse
38                                    Soorarai Pottru
39                                            Seppuku
40                                         Sita Ramam
41                                             Kaithi
42                                             Asuran
43                                            Kantara
44                                             Vikram
45                                          Shershaah
46                                           Ratsasan
47                                 Gangs of Wasseypur
48                                            Yôjinbô
49                                   K.G.F: Chapter 1

Query 9 :
                   Movie Name Gross collection
0  Terminator 2: Judgment Day         $204.84M

Query 10:
            Movie Name                                              Stars  \
0   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
1   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
2   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
3   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
4   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
5   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
6   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
7   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
8   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
9   Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
10  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
11  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
12  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
13  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
14  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...
15  Gangs of Wasseypur  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...

In [11]:
# Subqueries

# Q11
query11 = """SELECT DISTINCT * FROM df1
JOIN df2 ON df1. `Movie Name` = df2. `Movie Name` """

result11 = pysqldf(query11)
print("Query 11:")
print(result11)
print()

# Q12
query12 = """SELECT DISTINCT df1. `Movie Name`, df1. Director, df1. Rating, df2. `Gross collection`
FROM df1 JOIN df2 ON df1. `Movie Name` = df2. `Movie Name` 
WHERE df2. Genre LIKE '%Action%'"""

result12 = pysqldf(query12)
print("Query 12:")
print(result12)
print()

# Q13
query13 = """SELECT DISTINCT *
FROM df1
JOIN df2 ON df1. `Movie Name` = df2. `Movie Name`
WHERE df2. `Gross collection` = (SELECT MAX(`Gross collection`)FROM df2) """

result13 = pysqldf(query13)
print("Query 13:")
print(result13)
print()

# Q14
query14 = """SELECT DISTINCT * FROM df1
JOIN df2 ON df1. `Movie Name` = df2. `Movie Name`
WHERE df1. Rating = (SELECT MAX(Rating) FROM df1)"""

result14 = pysqldf(query14)
print("Query14:")
print(result14)
print()

# Q15
query15 = """SELECT DISTINCT * FROM df1
JOIN df2 ON df1. `Movie Name` = df2. `Movie Name`
WHERE df2. `Gross collection` = (SELECT MIN(`Gross collection`) FROM df2)
AND df1. Rating = (SELECT MIN(Rating)FROM df1)"""

result15 = pysqldf(query15)
print("Query 15:")
print(result15)
print()

Query 11:
       Sno                                         Movie Name  \
0        1                                    The Dark Knight
1        2      The Lord of the Rings: The Return of the King
2        3                Spider-Man: Across the Spider-Verse
3        4                                          Inception
4        5  The Lord of the Rings: The Fellowship of the Ring
...    ...                                                ...
2495  2496                                                Ran
2496  2497                        Baahubali 2: The Conclusion
2497  2498                                 Gangs of Wasseypur
2498  2499                                            Yôjinbô
2499  2500                                   K.G.F: Chapter 1

                                               Director  Duration  Year  \
0     Christopher Nolan,Christian Bale,Heath Ledger,...       152  2008
1     Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...       201  2003
2     Joaquim Dos Santos,Kemp Powers,Justin K. Thomp...       140  2023
3     Christopher Nolan,Leonardo DiCaprio,Joseph Gor...       148  2010
4     Peter Jackson,Elijah Wood,Ian McKellen,Orlando...       178  2001
...                                                 ...       ...   ...
2495  Akira Kurosawa,Tatsuya Nakadai,Akira Terao,Jin...       162  1985
2496  S.S. Rajamouli,Prabhas,Rana Daggubati,Anushka ...       167  2017
2497  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...       321  2012
2498  Akira Kurosawa,Toshirô Mifune,Eijirô Tôno,Tats...       110  1961
2499  Prashanth Neel,Yash,Srinidhi Shetty,Ramachandr...       156  2018

      Rating  Metascore                                         Movie Name  \
0        9.0       84.0                                    The Dark Knight
1        9.0       94.0      The Lord of the Rings: The Return of the King
2        8.9       86.0                Spider-Man: Across the Spider-Verse
3        8.8       74.0                                          Inception
4        8.8       92.0  The Lord of the Rings: The Fellowship of the Ring
...      ...        ...                                                ...
2495     8.2       97.0                                                Ran
2496     8.2        NaN                        Baahubali 2: The Conclusion
2497     8.2       89.0                                 Gangs of Wasseypur
2498     8.2       93.0                                            Yôjinbô
2499     8.2        NaN                                   K.G.F: Chapter 1

                                                  Stars    Votes  \
0     Christopher Nolan,Christian Bale,Heath Ledger,...  2739587
1     Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...  1898276
2     Joaquim Dos Santos,Kemp Powers,Justin K. Thomp...   183132
3     Christopher Nolan,Leonardo DiCaprio,Joseph Gor...  2431092
4     Peter Jackson,Elijah Wood,Ian McKellen,Orlando...  1926707
...                                                 ...      ...
2495  Akira Kurosawa,Tatsuya Nakadai,Akira Terao,Jin...   130239
2496  S.S. Rajamouli,Prabhas,Rana Daggubati,Anushka ...   108031
2497  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...    99867
2498  Akira Kurosawa,Toshirô Mifune,Eijirô Tôno,Tats...   126668
2499  Prashanth Neel,Yash,Srinidhi Shetty,Ramachandr...    92503

                             Genre Gross collection  Popularity Certification
0             Action, Crime, Drama         $534.86M         1.0            UA
1         Action, Adventure, Drama         $377.85M         2.0             U
2     Animation, Action, Adventure             None         3.0             U
3        Action, Adventure, Sci-Fi         $292.58M         4.0            UA
4         Action, Adventure, Drama         $315.54M         5.0             U
...                            ...              ...         ...           ...
2495            Action, Drama, War           $4.14M        46.0     Not Rated
2496                 Action, Drama          $20.19M        47.0            UA
2497         Action, Comedy, Crime             None        48.0             A
2498       Action, Drama, Thriller             None        49.0             U
2499          Action, Crime, Drama             None        50.0            UA

[2500 rows x 14 columns]

Query 12:
                                           Movie Name  \
0                                     The Dark Knight
1       The Lord of the Rings: The Return of the King
2                 Spider-Man: Across the Spider-Verse
3                                           Inception
4   The Lord of the Rings: The Fellowship of the Ring
5               The Lord of the Rings: The Two Towers
6                                          The Matrix
7      Star Wars: Episode V - The Empire Strikes Back
8                                     Soorarai Pottru
9                          Terminator 2: Judgment Day
10                                          Star Wars
11                               Shichinin no samurai
12                                            Seppuku
13                                         Sita Ramam
14                                          Gladiator
15                                               Léon
16                            Raiders of the Lost Ark
17                  Spider-Man: Into the Spider-Verse
18                                             Aliens
19                                  Avengers: Endgame
20                                           Oldeuboi
21                              The Dark Knight Rises
22                             Avengers: Infinity War
23                                             Kaithi
24                                             Asuran
25                                  Top Gun: Maverick
26                                               Heat
27         Star Wars: Episode VI - Return of the Jedi
28                                      Mononoke-hime
29                                 North by Northwest
30                                             Dangal
31                                            Kantara
32                                   K.G.F: Chapter 2
33                                             Vikram
34                                          Shershaah
35                                           Ratsasan
36                 Indiana Jones and the Last Crusade
37                            Spider-Man: No Way Home
38                                      Jurassic Park
39                                      Batman Begins
40                                               1917
41                                           Die Hard
42                                  Kill Bill: Vol. 1
43                                     V for Vendetta
44                 Kimetsu no Yaiba: Mugen Ressha-Hen
45                                                Ran
46                        Baahubali 2: The Conclusion
47                                 Gangs of Wasseypur
48                                            Yôjinbô
49                                   K.G.F: Chapter 1

                                             Director  Rating Gross collection
0   Christopher Nolan,Christian Bale,Heath Ledger,...     9.0         $534.86M
1   Peter Jackson,Elijah Wood,Viggo Mortensen,Ian ...     9.0         $377.85M
2   Joaquim Dos Santos,Kemp Powers,Justin K. Thomp...     8.9             None
3   Christopher Nolan,Leonardo DiCaprio,Joseph Gor...     8.8         $292.58M
4   Peter Jackson,Elijah Wood,Ian McKellen,Orlando...     8.8         $315.54M
5   Peter Jackson,Elijah Wood,Ian McKellen,Viggo M...     8.8         $342.55M
6   Lana Wachowski,Lilly Wachowski,Keanu Reeves,La...     8.7         $171.48M
7   Irvin Kershner,Mark Hamill,Harrison Ford,Carri...     8.7         $290.48M
8   Sudha Kongara,Suriya,Paresh Rawal,Aparna Balam...     8.7             None
9   James Cameron,Arnold Schwarzenegger,Linda Hami...     8.6         $204.84M
10  George Lucas,Mark Hamill,Harrison Ford,Carrie ...     8.6         $322.74M
11  Akira Kurosawa,Toshirô Mifune,Takashi Shimura,...     8.6           $0.27M
12  Masaki Kobayashi,Tatsuya Nakadai,Akira Ishiham...     8.6             None
13  Hanu Raghavapudi,Dulquer Salmaan,Mrunal Thakur...     8.6             None
14  Ridley Scott,Russell Crowe,Joaquin Phoenix,Con...     8.5         $187.71M
15  Luc Besson,Jean Reno,Gary Oldman,Natalie Portm...     8.5          $19.50M
16  Steven Spielberg,Harrison Ford,Karen Allen,Pau...     8.4         $248.16M
17  Bob Persichetti,Peter Ramsey,Rodney Rothman,Sh...     8.4         $190.24M
18  James Cameron,Sigourney Weaver,Michael Biehn,C...     8.4          $85.16M
19  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...     8.4         $858.37M
20  Park Chan-wook,Choi Min-sik,Yoo Ji-tae,Kang Hy...     8.4           $0.71M
21  Christopher Nolan,Christian Bale,Tom Hardy,Ann...     8.4         $448.14M
22  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...     8.4         $678.82M
23  Lokesh Kanagaraj,Karthi,Narain,Arjun Das,Georg...     8.4             None
24  Vetrimaaran,Dhanush,Manju Warrier,Prakash Raj,...     8.4             None
25  Joseph Kosinski,Tom Cruise,Jennifer Connelly,M...     8.3         $718.73M
26  Michael Mann,Al Pacino,Robert De Niro,Val Kilm...     8.3          $67.44M
27  Richard Marquand,Mark Hamill,Harrison Ford,Car...     8.3         $309.13M
28  Hayao Miyazaki,Yôji Matsuda,Yuriko Ishida,Yûko...     8.3           $2.38M
29  Alfred Hitchcock,Cary Grant,Eva Marie Saint,Ja...     8.3          $13.28M
30  Nitesh Tiwari,Aamir Khan,Sakshi Tanwar,Fatima ...     8.3          $12.39M
31  Rishab Shetty,Rishab Shetty,Kishore Kumar G.,A...     8.3             None
32  Prashanth Neel,Yash,Sanjay Dutt,Raveena Tandon...     8.3           $6.60M
33  Lokesh Kanagaraj,Kamal Haasan,Vijay Sethupathi...     8.3             None
34  Vishnuvardhan,Sidharth Malhotra,Kiara Advani,S...     8.3             None
35  Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,...     8.3             None
36  Steven Spielberg,Harrison Ford,Sean Connery,Al...     8.2         $197.17M
37  Jon Watts,Tom Holland,Zendaya,Benedict Cumberb...     8.2         $804.75M
38  Steven Spielberg,Sam Neill,Laura Dern,Jeff Gol...     8.2         $402.45M
39  Christopher Nolan,Christian Bale,Michael Caine...     8.2         $206.85M
40  Sam Mendes,Dean-Charles Chapman,George MacKay,...     8.2         $159.23M
41  John McTiernan,Bruce Willis,Alan Rickman,Bonni...     8.2          $83.01M
42  Quentin Tarantino,Uma Thurman,David Carradine,...     8.2          $70.10M
43  James McTeigue,Hugo Weaving,Natalie Portman,Ru...     8.2          $70.51M
44  Haruo Sotozaki,Natsuki Hanae,Akari Kitô,Yoshit...     8.2          $47.70M
45  Akira Kurosawa,Tatsuya Nakadai,Akira Terao,Jin...     8.2           $4.14M
46  S.S. Rajamouli,Prabhas,Rana Daggubati,Anushka ...     8.2          $20.19M
47  Anurag Kashyap,Manoj Bajpayee,Nawazuddin Siddi...     8.2             None
48  Akira Kurosawa,Toshirô Mifune,Eijirô Tôno,Tats...     8.2             None
49  Prashanth Neel,Yash,Srinidhi Shetty,Ramachandr...     8.2             None

Query 13:
     Sno         Movie Name  \
0     20  Avengers: Endgame
1     70  Avengers: Endgame
2    120  Avengers: Endgame
3    170  Avengers: Endgame
4    220  Avengers: Endgame
5    270  Avengers: Endgame
6    320  Avengers: Endgame
7    370  Avengers: Endgame
8    420  Avengers: Endgame
9    470  Avengers: Endgame
10   520  Avengers: Endgame
11   570  Avengers: Endgame
12   620  Avengers: Endgame
13   670  Avengers: Endgame
14   720  Avengers: Endgame
15   770  Avengers: Endgame
16   820  Avengers: Endgame
17   870  Avengers: Endgame
18   920  Avengers: Endgame
19   970  Avengers: Endgame
20  1020  Avengers: Endgame
21  1070  Avengers: Endgame
22  1120  Avengers: Endgame
23  1170  Avengers: Endgame
24  1220  Avengers: Endgame
25  1270  Avengers: Endgame
26  1320  Avengers: Endgame
27  1370  Avengers: Endgame
28  1420  Avengers: Endgame
29  1470  Avengers: Endgame
30  1520  Avengers: Endgame
31  1570  Avengers: Endgame
32  1620  Avengers: Endgame
33  1670  Avengers: Endgame
34  1720  Avengers: Endgame
35  1770  Avengers: Endgame
36  1820  Avengers: Endgame
37  1870  Avengers: Endgame
38  1920  Avengers: Endgame
39  1970  Avengers: Endgame
40  2020  Avengers: Endgame
41  2070  Avengers: Endgame
42  2120  Avengers: Endgame
43  2170  Avengers: Endgame
44  2220  Avengers: Endgame
45  2270  Avengers: Endgame
46  2320  Avengers: Endgame
47  2370  Avengers: Endgame
48  2420  Avengers: Endgame
49  2470  Avengers: Endgame

                                             Director  Duration  Year  Rating  \
0   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
1   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
2   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
3   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
4   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
5   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
6   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
7   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
8   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
9   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
10  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
11  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
12  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
13  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
14  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
15  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
16  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
17  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
18  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
19  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
20  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
21  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
22  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
23  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
24  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
25  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
26  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
27  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
28  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
29  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
30  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
31  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
32  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
33  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
34  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
35  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
36  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
37  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
38  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
39  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
40  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
41  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
42  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
43  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
44  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
45  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
46  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
47  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
48  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4
49  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...       181  2019     8.4

    Metascore         Movie Name  \
0        78.0  Avengers: Endgame
1        78.0  Avengers: Endgame
2        78.0  Avengers: Endgame
3        78.0  Avengers: Endgame
4        78.0  Avengers: Endgame
5        78.0  Avengers: Endgame
6        78.0  Avengers: Endgame
7        78.0  Avengers: Endgame
8        78.0  Avengers: Endgame
9        78.0  Avengers: Endgame
10       78.0  Avengers: Endgame
11       78.0  Avengers: Endgame
12       78.0  Avengers: Endgame
13       78.0  Avengers: Endgame
14       78.0  Avengers: Endgame
15       78.0  Avengers: Endgame
16       78.0  Avengers: Endgame
17       78.0  Avengers: Endgame
18       78.0  Avengers: Endgame
19       78.0  Avengers: Endgame
20       78.0  Avengers: Endgame
21       78.0  Avengers: Endgame
22       78.0  Avengers: Endgame
23       78.0  Avengers: Endgame
24       78.0  Avengers: Endgame
25       78.0  Avengers: Endgame
26       78.0  Avengers: Endgame
27       78.0  Avengers: Endgame
28       78.0  Avengers: Endgame
29       78.0  Avengers: Endgame
30       78.0  Avengers: Endgame
31       78.0  Avengers: Endgame
32       78.0  Avengers: Endgame
33       78.0  Avengers: Endgame
34       78.0  Avengers: Endgame
35       78.0  Avengers: Endgame
36       78.0  Avengers: Endgame
37       78.0  Avengers: Endgame
38       78.0  Avengers: Endgame
39       78.0  Avengers: Endgame
40       78.0  Avengers: Endgame
41       78.0  Avengers: Endgame
42       78.0  Avengers: Endgame
43       78.0  Avengers: Endgame
44       78.0  Avengers: Endgame
45       78.0  Avengers: Endgame
46       78.0  Avengers: Endgame
47       78.0  Avengers: Endgame
48       78.0  Avengers: Endgame
49       78.0  Avengers: Endgame

                                                Stars    Votes  \
0   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
1   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
2   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
3   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
4   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
5   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
6   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
7   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
8   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
9   Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
10  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
11  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
12  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
13  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
14  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
15  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
16  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
17  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
18  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
19  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
20  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
21  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
22  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
23  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
24  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
25  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892
26  Anthony Russo,Joe Russo,Robert Downey Jr.,Chri...  1193892

Here All queries and subqueries are sorted using Pandasql.